.body {
    background-color: #d3d3d3;
}

.body header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 768px) {
    .body header {
        font-size: 20px;
    }

}